.place {
    width: 857px;
    height: 500px;
    background-image: url(/img/아이번.jpg);
}

#box_model {
    width: 847px;
    height: 500px;
    background: greenyellow;
    border: solid 5px green;
    margin: 10px 10px 10px 0px;
    padding: 25px 0px 75px 0px ; 
}
